.aa{
color: rgb(29, 8, 223);
font-size: 70px;
}
.aa{
color: rgb(13, 28, 235);
font-size: 70px;
}
.aa{ 
  color: rgb(28, 13, 236);
  font-size: 70;
}

.khan:hover{ background-color: white;
color: rgb(26, 11, 236);
}